.jumbotron {
	height: 300px;
	background-image: url(couv.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	background-position: center;
	text-shadow: #000000 1px -1px, #000000 -1px 1px, #000000 -1px 1px, #000000 1px -1px;
	font-family: 
}

.review {
	font-family: 'Roboto', sans-serif;
}

main {
font-family: 'Kotta One', serif;
}
